<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.SmartPlumblines</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SmartPlumblines</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/DeutschMark/Show-Smart-Plumblines/master/SmartPlumblines.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/DeutschMark/Show-Smart-Plumblines</string>
	<key>productReleaseNotes</key>
	<string>Glyphs 3 compatibility</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Mark Froemberg, 2015</string>
	<key>NSPrincipalClass</key>
	<string>SmartPlumblines</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
